<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wheather EKB</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' media='all'>
</head>
<body>
	<!--<h1>{{ foo }}</h1>
	<h1>{{ bar }}</h1>-->
	<div class="city"> 
		{{city}}
	</div>
	<table>
	<thead>
	<tr>
		<th>Дата</th>
		<th>Температура, °C</th>
		<th>Ощущается как, °C</th>
		<th>Давление, мм рт. ст.</th>
		<th>Влажность, %</th>
		<th>Облачность, %</th>
		<th>Явление погоды</th>
		<th>Ветер: скорость, м/с</th>
		<th>Направление</th>
	</tr>
	</thead>
	<tbody>
		{% for c in qwe %}
		<tr>
			<td>
				{{Date[c]}}
			</td>
			<td>
				{{Temperature[c]}}
			</td>
			<td>
				{{FLT[c]}}
			</td>
			<td>
				{{Pressure[c]}}
			</td>
			<td>
				{{Wet[c]}}
			</td>
			<td>
				{{Cloudinass[c]}}
			</td>
			<td>
				{% if Phenomenon[c] == "Явления погоды отсутствуют" %}
   					—
				{% else %}
					{{ Phenomenon[c] }}
  				{% endif %}
			</td>
			<td>
				{{Speed[c]}}
			</td>
			<td>
				{{Direction[c]}}
			</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>
</body>
</html>